<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet" />
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<!-- font awesome -->
		<link rel="stylesheet" href="https://kit.fontawesome.com/70d6e98128.css" crossorigin="anonymous" />
		<!-- styles.css -->
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<!-- home page -->
		<link rel="stylesheet" href="/stylesheets/home.css" />
		<!-- Bootstrap JS bundle (contains Popper.js and Bootstrap JS) -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
		<script src="https://kit.fontawesome.com/70d6e98128.js" crossorigin="anonymous"></script>
		<!-- favicon icon -->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<title>Storage App</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand text-dark" href="/">Home</a>
				<div class="navbar-nav me-auto">
					<div class="nav-item">
						<a class="nav-link text-dark" href="/products">Products</a>
					</div>
				</div>
				<span class="navbar-text">
					<a href="https://github.com/LucasCoppola" target="_blank">
						<i class="fa-brands fa-github fa-xl me-3 text-dark"></i>
					</a>
					<a href="https://www.linkedin.com/in/lucas-coppola-1805ab226/" target="_blank">
						<i class="fa-brands fa-linkedin fa-xl me-5 text-dark"></i>
					</a>
				</span>
			</div>
		</nav>
		<% if(error && error.length){ %>
		<div class="alert alert-danger py-2" role="alert">
			<i class="fa-solid fa-circle-exclamation pe-2"></i>
			<%= error %>
		</div>
		<% }%>
		<div class="container text-center">
			<a href="/products" class="btn btn-dark btn-lg bounce-top rounded-pill shadow-lg home-btn">All Products</a>
		</div>
	</body>
</html>
